@import '../../../../../../css/variables/colors.css';

li.TitleContent-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

.TitleContent-value {
  line-height: 30px;
}

li.TitleContent-content.added-content {
  opacity: 0;
  animation: new-content-animation 1s ease-in forwards;
}

@keyframes new-content-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
